/* body {
background: linear-gradient(rgb(23, 15, 142), rgb(2, 31, 11));
font-family: monospace;
color: white;

background-repeat: no-repeat;

background-attachment: fixed; 
}  

section h1 {
color: rgb(116, 8, 8);
font-size: 40px;
}

section h2 {
color: rgb(173, 173, 42);
}

header ul {
list-style: none;
display: inline;
font-size: 30px;
margin: auto;
}
nav {
    display: inline;

}

nav li {
    list-style: none;
    display: inline;
    margin: center;
}
 */

 